.address {
  display: flex;
  gap: 1ch;
  background-color: rgb(28, 28, 28);
  border-radius: 8px;
  height: 40px;
  /* backdrop-filter: blur(20px); */
  overflow: hidden;
  position: fixed;
  inset: auto 16px 16px 16px;
  box-sizing: border-box;

  input {
    min-width: 100%;
    -webkit-app-region: drag;
    height: 100%;
    display: flex;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    color: #fff;
    box-sizing: border-box;
    padding: 0.5lh 2ch;
  }
}
