.address {
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 8px;
  box-sizing: border-box;
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  input {
    height: 100%;
    display: flex;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    color: hsla(0, 0%, 100%, 0.6);
    box-sizing: border-box;
    flex: 1;
    font-size: 10px;
    padding-inline: 1ch;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    appearance: none;
    border: none;
    background: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.4;

    &:hover {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  svg {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
